body
{
	margin:0px;
	padding:0px;
}
body *
{
	margin:0px;
	padding:0px;
	text-decoration:none;
	color:inherit;
	font:inherit;
	line-height:100%;
}
body ul, ol
{
	list-style-type:none;
}
#header
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background-image:url(Images/Header.jpg);
	background-repeat:repeat-x;
	z-index:10;
}
#nav
{
}
#nav li
{
	float:left;
	height:25px;
	font:12px tahoma;
	line-height:25px;
	margin:0px 4px 0px 4px;
}
#nav li a:hover
{
	text-decoration:underline;
}
#customer-search
{
	float:right;
	margin-right:10px;
	font:12px tahoma;
	height:24px;
	line-height:24px;
}
#customer-search input
{
	font:11px tahoma;
	width:200px;
}
#content
{
	position:fixed;
	top:30px;
	left:20px;
	right:20px;
	bottom:30px;
	z-index:5;
}

.details-table
{
	display:block;
	position:absolute;
	left:400px;
	right:0px;
	top:0px;
	border-collapse:collapse;
}
.details-table .h
{
	height:25px;
	font:bold 13px tahoma;
	color:#444444;
	line-height:25px;
	text-indent:10px;
	border:solid 1px #CCCCCC;
	background-image:url(Images/CTableH.png);
}
.c-table
{
	width:100%;
	border-collapse:collapse;
	border:solid 1px #CCCCCC;
	border-top:none;
	font:13px tahoma;
}
.c-table th
{
	background-image:url(Images/CTableHeader.png);
	border:solid 1px #CCCCCC;
	font:bold 12px tahoma;
	letter-spacing:1px;
	height:24px;
	line-height:24px;
	color:#666666;
}
.c-table tbody tr:hover
{
	background-color:#EEEEEE;
}
.c-table td
{
	border:solid 1px #CCCCCC;
	height:24px;
	line-height:24px;
	padding:0px 3px 0px 3px;
}
.c-table .id-cell
{
	text-align:center;
	font-weight:bold;
}
.c-table tbody a:hover
{
	text-decoration:underline;
}


.details
{
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	width:380px;
	float:left;
	
	border:solid 1px #CCCCCC;
}
.details .h
{
	height:25px;
	text-indent:3px;
	font:bold 12px tahoma;
	line-height:25px;
	margin-bottom:4px;
}
.details .fields
{
	float:left;
	font:12px tahoma;
	line-height:24px;
	padding-left:8px;
}
.details .values
{
	padding-left:5px;
	float:left;
	font:bold 11px tahoma;
	line-height:24px;
	letter-spacing:1px;
}
.message
{
	text-align:center;
	font:12px tahoma;
	line-height:40px;
}
.form
{
	width:282px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}
.form *
{
	font:12px tahoma;
}
.form .field
{
	clear:both;
	margin:5px;
	padding:5px 0px 5px 0px;
}
.form .field .prompt
{
	float:left;
	width:100px;
}
.form .field .input
{
	float:left;
}
.form .field input, .form .field select
{
	float:left;
	height:20px;
	width:170px;
}
.form .field input.datepicker
{
	width:144px;
}
.form .field textarea
{
	width:270px;
	height:40px;
	text-align:center;
}
.form .submit
{
	text-align:center;
}

.greybox:hover
{
	text-decoration:underline;
}
